table {
  border: 1px solid black;
  margin: 16px;
  border-collapse: collapse;
}
td {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}
/* .white {
  background-color: white;
} */
/* tbody > .black > td:nth-child(even) {
  border: 1px solid black;
}
tbody > .white > td:nth-child(odd) {
  border: 1px solid black; */
/* } */
tbody > tr > td:first-child {
  background-color: white !important;
  border: none !important;
}
tbody > tr > td:last-child {
  background-color: white !important;
  border: none !important;
}
tbody > .black > td:nth-child(odd) {
  background-color: white;
}
tbody > .white > td:nth-child(even) {
  background-color: white;
}
tbody > tr > td {
  background-color: black;
  border: 1px solid;
}
